div.wlacznik {
background-color: blue;
border: 1px, solid, black;
width: 150px;
height: 150px;
float: left;
margin: 10px;
}
.licznik {
    display: block;
    float: left;
}
#tableZad4 {
    width: 100vw;
}